@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{

    /* Primary */

    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    /* Neutral */

    --dark-grayish-red: hsl(0, 6%, 24%);

    /* Gradients */

    --color1: hsl(0, 0%, 100%);
    --color2: hsl(0, 100%, 98%);
    --color3: hsl(0, 80%, 86%);
    --color4: hsl(0, 74%, 74%);

    --linear1: (135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
    --linear2: (135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.contenedor{
    display: flex;
    flex-direction: column;
}

.header{
    padding: 30px;
}

.header__logo{
    width: 100px;
}

.img__header__desktop{
    display: none;
}

.img__header__mobile{
    display: block;
}

.info{
    padding: 35px;
    padding-top: 60px;
}

.info__h1{
    color: var(--desaturated-red);
    font-weight: 300;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 25px;
}

.info__h1 span{
    color: var(--dark-grayish-red);
    font-weight: 600;
}

.info__p{
    color: var(--desaturated-red);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 25px;
}

.form{
    width: 100%;
}

.form__input{
    margin: 0;
    width: 100%;
    height: 45px;
    border-radius: 25px;
    border: none;
    border: 1px solid var(--desaturated-red);
    padding-left: 20px;
}

.form__input:active{
    border: 1px solid var(--soft-red);
}

input::placeholder{
    color: var(--desaturated-red);
}

.form__button{
    margin: 0;
    width: 60px;
    height: 45px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(135deg, var(--color3), var(--color4));
    position: absolute;
    right: 35px;
}

.input__error{
    color: var(--desaturated-red);
    padding: 10px 0 0 25px;
    font-size: 14px;
    font-weight: 600;
}

.icon__error{
    position: absolute;
    right: 100px;
    margin-top: 10px;
}

.no__error{
    display: none;
}

@media screen and (min-width:768px) {
    .contenedor{
        width: 90%;
        margin: 0 auto;
    }

    .info{
        max-width: 80%;
        margin: 0 auto;
    }

    .form{
        position: relative;
    }

    .form__button{
        position: absolute;
        right: 0;
    }

    .icon__error{
        right: 70px;
    }
}

@media screen and (min-width: 1024px) {
    body{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contenedor{
        display: grid;
        grid-template-columns: 60% 40%;
        max-width: 1440px;
    }

    .container{
        width: 80%;
        margin: 0 auto;
    }
    
    .header{
        padding: 30px;
        grid-column: 1/2;
    }
    
    .header__logo{
        width: 150px;
    }

    .img__header__desktop{
        display: block;
        grid-column: 2/3;
        grid-row: 1/3;
        width: 100%;
    }

    .img__header__mobile{
        display: none;
    }
    
    .info{
        padding: 0;
        padding-top: 0;
        padding-left: 30px;
    }
    
    .info__h1{
        color: var(--desaturated-red);
        font-weight: 300;
        font-size: 72px;
        text-transform: uppercase;
        text-align: start;
        letter-spacing: 10px;
        margin-bottom: 25px;
    }
    
    .info__h1 span{
        color: var(--dark-grayish-red);
        font-weight: 600;
    }
    
    .info__p{
        color: var(--desaturated-red);
        font-weight: 400;
        font-size: 16px;
        text-align: start;
        line-height: 1.5;
        margin-bottom: 25px;
    }
    
    .form{
        width: 100%;
    }
    
    .form__input{
        margin: 0;
        width: 100%;
        height: 45px;
        border-radius: 25px;
        border: none;
        border: 1px solid var(--desaturated-red);
        padding-left: 20px;
    }
    
    .form__button{
        margin: 0;
        width: 80px;
        height: 45px;
        border-radius: 50px;
        border: none;
        background-image: linear-gradient(135deg, var(--color3), var(--color4));
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: absolute;
        right: 0;
    }

    .icon__error{
        right: 20%;
        margin-top: inherit;
        top: 15%;
    }
}

@media screen and (min-width:1200px) {
    .contenedor{
        width: 100%;
    }

    .container{
        width: 475px;
    }   
}

.attribution { font-size: 11px; text-align: center; margin-top: 35px; padding-bottom: 25px;}
.attribution a { color: hsl(228, 45%, 44%); }